{# utilisation du layout #}
{% extends "base.html.twig" %}


{# title of page #}
{% block title %} 
Acceuil 
{% endblock title %}


{# content #}
{% block body %}
    <h1 class="text-indigo-700 font-bold text-3xl pb-6 text-center">Créer un article</h1>

    {{ form(showForm) }}    
    </div>

{% endblock %}